<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Расчет сечения воздуховода</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/index.css" rel="stylesheet" type="text/css">
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Брусника Расчет</a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="col-md-7 col-lg-5 m-auto">
        <h4 class="mt-3 mb-3">Онлайн расчет скорости воздуха в воздуховоде</h4>
        <p class="text">В справочных руководствах приводятся следующие рекомендуемые значения скорости в сечении зависимости от типа воздуховода:</p>
        <div class="border border-secondary-subtle p-3 mb-3">
            <p class="border-bottom d-flex flex-row justify-content-between">
                <strong class="text-gray-dark">Магистральный на промышленном предприятии</strong>
                8-12 м/с
            </p>
            <p class="border-bottom d-flex flex-row justify-content-between">
                <strong class=" text-gray-dark">Магистральный на гражданском объекте</strong>
                6 м/с
            </p>
            <p class="border-bottom d-flex flex-row justify-content-between">
                <strong class=" text-gray-dark">Боковое ответвление от магистрального</strong>
                4-5 м/с
            </p>
            <p class="border-bottom d-flex flex-row justify-content-between">
                <strong class=" text-gray-dark">Распределительный, идущий к решетке или диффузору</strong>
                1,5-2 м/с
            </p>
        </div>
        <form class="border border-secondary-subtle p-3 mb-3 needs-validation" th:action="@{/simple/simpleRes}" method="post" novalidate="">
            <div class="row g-3 align-items-center pb-3">

                <div class="col-12">
                    <label for="airflow-rate" class="form-label">Расход воздуха, м3/ч:</label>
                    <div class="input-group has-validation">
                        <input type="number" step="10" class="form-control" id="airflow-rate" name="airflowRate" placeholder="0" required="">
                        <div class="invalid-feedback">
                            Данное поле является обязательным!
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="width" class="form-label">Ширина, мм:</label>
                    <input type="number" step="50" class="form-control" id="width" name="width" placeholder="0">
                    <div class="invalid-feedback">
                        Данное поле является обязательным!
                    </div>
                </div>

                <div class="col-12">
                    <label for="height" class="form-label">Высота, мм:</label>
                    <input type="number" step="50" class="form-control" id="height" name="height" placeholder="0">
                    <div class="invalid-feedback">
                        Данное поле является обязательным!
                    </div>
                </div>

            </div>

            <button class="w-100 btn mt-3 btn-danger btn-lg" type="submit">Рассчитать скорость</button>
        </form>
    </div>
</main>

</body>
</html>